.mainContent .contentItem img.content {
    padding: 0;
    height: auto;
    max-width: calc(calc(50vw - 8.4rem) + 6px);
}

.mainContent .contentItem ul li {
    margin-left: 1em;
    list-style: square;
    
}

.mainContent .contentItem ul ul li {
    list-style: disc;
}

.mainContent .contentItem ul ul ul li {
    list-style: '-';
    
}