.mainContent .contentItem .content li {
    list-style: square;
    margin-left: 1em;
}

.mainContent .contentItem img.content {
    padding: 0;
    height: auto;
    max-width: calc(calc(50vw - 8.4rem) + 6px);
}