* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #72fdea;
}

li {
    list-style: none;
}

body {
    display: grid;
    grid: 20vh 80vh / 25vw 75vw;
}

header {
    background-color: blue;
    color: white;
    grid-area: 1 / 1 / span 1 / span 2;
}

main {
    background-color: yellow;
}

aside {
    color: white;
    background-color: red;
}